//Estilos para la cabecera de la página, incluye el logotipo y el menú de navegación
@use '../global/variables';
@use '../global/mixins' as *;
@use '../global/funciones' as f;

.cabecera {
    background-color: f.colores("color-primario");
    padding: 1rem 2rem; //espacio de los elementos internos

    //Estilo para el contenedor del menú utilizando flex
    .menu_cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        @include puntoRuptura("movil") {
            //para resoluciones de movil, el menú cambia a modo columna
            flex-direction: column;
            gap: 1rem;
        }

        @include puntoRuptura("tableta") {
            //para resoluciones de tableta en adelante, el menú cambia a modo fila
            flex-direction: row;
            padding: 0 2rem;
        }

        @include puntoRuptura("pantalla-peque") {
            max-width: 1400px;
        }

        @include puntoRuptura("pantalla-estandar") {
            max-width: 1800px;
        }

        @include puntoRuptura("pantalla-grande") {
            max-width: 2200px;
        }
    }
}

//Estilos para el logotipo de la empresa
.logotipo {
    display: inline-block;
    width: 50px; //le doy un ancho por defecto
    height: auto;

    //Estilo para que la imagen del logotipo ocupe todo el espacio disponible
    img {
        width: 100%;
        height: auto;
    }

    //Tamaño del logotipo para diferentes resoluciones
    @include puntoRuptura("movil") {
        width: 40px;
    }

    @include puntoRuptura("tableta") {
        width: 45px;
    }

    @include puntoRuptura("pantalla-peque") {
        width: 55px;
    }

    @include puntoRuptura("pantalla-estandar") {
        width: 60px;
    }

    @include puntoRuptura("pantalla-grande") {
        width: 70px;
    }
}

//Estilos para el menú de navegación utilizando flex
.menu_navegacion {
    font-family: f.tipografias("fuente-titulos");
    display: flex;
    gap: 2rem;
    list-style: none; //quito los puntos de la lista

    //Estilo para los elementos de la lista
    li a {
        color: f.colores("color-neutro-bl");
        text-decoration: none;

        &:hover {
            color: f.colores("color-boton"); //cambio el color al pasar el ratón por encima
        }

        //Tamaño de la fuente para diferentes resoluciones
        @include puntoRuptura("pantalla-peque") {
            font-size: 1rem;
        }

        @include puntoRuptura("pantalla-estandar") {
            font-size: 1.1rem;
        }

        @include puntoRuptura("pantalla-grande") {
            font-size: 1.2rem;
        }
    }

    //Ajustes para que el menú en resoluciones de movil no colapse
    @include puntoRuptura("movil") {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    //Diferentes espacios entre elementos para el resto de resoluciones
    @include puntoRuptura("tableta") {
        gap: 2.5rem;
    }

    @include puntoRuptura("pantalla-peque") {
        gap: 3rem;
    }

    @include puntoRuptura("pantalla-estandar") {
        gap: 3.5rem;
    }

    @include puntoRuptura("pantalla-grande") {
        gap: 4rem;
    }
}